.emoji-img { 
    max-width: 100%;
    height: 100%;
    width: 30px;
  }

  .home-img { 
    border-radius: 50%;
    height: 100%;
    width: 40%;
    float: left;
    margin: 10px 0px 10px 0px;
  }

  .post-card__image img { 
    width: 100%;
    height: 100%;
  }

  .button_comment img { 
    width: 15px;
    height: 100%;
  }
  
  .reaction-button img { 
    width: 15px;
    height: 100%;
  }