nav a { 
    color: black;
    text-decoration: none;
    padding: 7px;
  }
  
  nav a:hover { 
    color: black;
    text-decoration: underline;
  }
  
  .navbar-brand {
    text-decoration: none;
  }
  
  .active { 
    text-decoration: underline;
  }


